<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/common :: head('lastOrder')">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

	<link href="starter-template.css" th:href="@{/starter-template.css}" rel="stylesheet">
	
    <title>최근 주문 제품</title>
  </head>
<body>

	<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top" th:replace="fragments/common :: menu('lastOrder')">
	  
	</nav>
	
	<div class="container" sec:authorize="isAuthenticated()">
		<h2>주문 정보</h2>
		<div>회원 이름 : <span th:text="${user.username}"></span></div>
		<form action="#" method="post">
			<div class="mb-3 row">
				<label for="ordernum" class="col-sm-2 col-form-label">주문번호 : </label>
				<div class="col-sm-10">
				<input type="text" id="ordernum" name="ordernum" th:value="${order.ordernum}" readonly class="form-control-plaintext"required autofocus>
				</div>
			</div>
			<div class="mb-3 row">
				<label for="productname" class="col-sm-2 col-form-label">제품 명 : </label>
				<div class="col-sm-10">
				<input type="text" id="productname" name="productname" th:value="${order.productname}" readonly class="form-control-plaintext" required >
				</div>
			</div>
			<div class="mb-3 row">
				<label for="paymentdate" class="col-sm-2 col-form-label">결제 일시 : </label>
				<div class="col-sm-10">
				<input type="text" id="paymentdate" name="paymentdate" th:value="${order.paymentdate}"
					readonly class="form-control-plaintext" aria-describedby="validationServer05Feedback" required>
				</div>
			</div>
			
		</form>
	    
		<div class="text-right">
			<a type="button" class="btn btn-primary" th:href="@{/user/userlist}">이전</a>
			<!-- <button type="submit" class="btn btn-primary">수정</button> -->
		</div>
    </div>
    
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
    -->
  </body>
</html>