<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/common :: head('orderlist')">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

	<link href="starter-template.css" th:href="@{/starter-template.css}" rel="stylesheet">
	
    <title>주문 목록</title>
  </head>
<body>

	<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top" th:replace="fragments/common :: menu('orderlist')">
	  
	</nav>
	
	<div class="container">
		<h2>주문 목록</h2>
		<div>총 주문 수 : <span th:text="${orderCnt}"></span></div>
		<!-- <form class="row g-3 d-flex justify-content-end" method="post" th:action="@{/api/orderlist}">
		  <div class="col-auto">
		    <label for="searchText" class="visually-hidden">회원 및 이메일 검색</label>
		    <input type="text" class="form-control" id="searchText" name="searchText" placeholder="이름 및 이메일 입력" th:value="${param.searchText}">
		  </div>
		  <div class="col-auto">
		    <button type="submit" class="btn btn-light mb-3">조회</button>
		  </div>
		</form> -->
		
	    <table class="table table-striped">
  			<thead>
  				<tr>
  					<th scope="col">주문번호</th>
  					<th scope="col">제품명</th>
  					<th scope="col">결제일시</th>
   				</tr>
  			</thead>
  			<tbody>
  				<tr th:each="order : ${orderlist}">
  					<td><a th:text="${order.ordernum}"></a></td>
  					<td th:text="${order.productname}"></td>
  					<td th:text="${order.paymentdate}"></td>
   				</tr>
  			</tbody>
		</table>
		<a type="button" class="btn btn-primary" th:href="@{/user/userlist}">이전</a>
		<!-- <nav aria-label="Page navigation example">
		  <ul class="pagination justify-content-center">
		    <li class="page-item" th:classappend="${1 == userlist.pageable.pageNumber + 1} ? 'disabled'">
		      <a class="page-link" href="#" th:href="@{/user/userlist(page=${userlist.pageable.pageNumber - 1}, searchText=${param.searchText})}" 
		      	tabindex="-1" aria-disabled="true">Previous</a>
		    </li>
		    <li class="page-item" th:classappend="${i == userlist.pageable.pageNumber + 1} ? 'disabled'" th:each="i : ${#numbers.sequence(startPage, endPage)}">
		    	<a class="page-link" href="#" th:href="@{/user/userlist(page=${i - 1}, searchText=${param.searchText})}" th:text="${i}"></a>
		    </li>
		    <li class="page-item" th:classappend="${totalPage == userlist.pageable.pageNumber + 1} ? 'disabled'">
		      <a class="page-link" href="#" th:href="@{/user/userlist(page=${userlist.pageable.pageNumber + 1}, searchText=${param.searchText})}">Next</a>
		    </li>
		  </ul>
		</nav> -->
		<!-- <div class="text-right">
			<a type="button" class="btn btn-primary" th:href="#{/userlist}">이전</a>
		</div> -->
    </div>
    
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
    -->
  </body>
</html>