<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

	<link th:href="@{/css/signin.css}" rel="stylesheet">
	
    <title>Login</title>
  </head>
<body class="text-center">
	
    <form class="form-signin" th:action="@{/user/loginAccess}" method="post">
    	<h1 class="h3 mb-3 fw-normal">Please sign in</h1>
	    	<div th:if="${param.error}" class="alert alert-danger" role="alert">
				Invalid username and password.
			</div>
			<div th:if="${param.logout}" class="alert alert-primary" role="alert">
			    You have been logged out.
			</div>
		<label for="email" class="visually-hidden">Email address</label>
		<input type="email" id="email" name="email" class="form-control" placeholder="Email address" required autofocus>
		<label for="password" class="visually-hidden">Password</label>
	    <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
		<!-- <div class="checkbox mb-3">
	      <label>
	        <input type="checkbox" value="remember-me"> Remember me
	      </label>
	    </div> -->
	    <button class="w-100 btn btn-lg btn-primary my-2" type="submit">Sign in</button>
    </form>
    
    <!-- <div class="sign-container">
    	<div class="sign-control mb-3">
    		<a class="sign-control" th:href="@{/account/register}" 
    	  sec:authorize="!isAuthenticated()">Sign Up</a>
    	</div>
	</div> -->
    
    <!-- <a href="/signUp"> 회원 가입 </a> -->
    
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
    -->
  </body>
</html>