<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

	<link th:href="@{/css/signin.css}" rel="stylesheet">
	
    <title>회원가입</title>
  </head>
  
<body class="text-center">
	
	<form class="form-signin" th:action="@{/user/register}" method="post">
		<h1 class="h3 mb-3 front-weight-normal">회원가입</h1>
	
		<label for="username" class="visually-hidden">이름</label>
		<input type="text" id="username" name="username" class="form-control" placeholder="이름" required autofocus>
			<div class="invalid-feedback">
				이름을 입력해주시기 바랍니다.
			</div>
		<label for="nickname" class="visually-hidden">별명</label>
		<input type="text" id="nickname" name="nickname" class="form-control" placeholder="별명" required >
			<div class="invalid-feedback">
				별명을 입력해주시기 바랍니다.
			</div>
		<label for="email" class="visually-hidden">이메일</label>
		<input type="email" id="email" name="email" 
			class="form-control" aria-describedby="validationServer05Feedback" placeholder="이메일" required>
			<div id="validationServer05Feedback" class="invalid-feedback">
				이메일은 중복될 수 없습니다.
			</div>
		<label for="password" class="visually-hidden">비밀번호</label>
	    <input type="password" id="password" name="password" class="form-control" placeholder="비밀번호" required>
	    	<div class="invalid-feedback">
				비밀번호를 입력해주시기 바랍니다.
			</div>
	    <label for="phonenumber" class="visually-hidden">전화번호</label>
	    <input type="phonenumber" id="phonenumber" name="phonenumber" class="form-control" placeholder="전화번호" required>
	    	<div class="invalid-feedback">
				전화번호를 입력해주시기 바랍니다.
			</div>
		
		<!-- <select class="form-select" aria-label="Default select example">
		  <option selected value="">성별을 선택해주시기 바랍니다.</option>
		  <option value="M">남자</option>
		  <option value="F">여자</option>
		</select> -->
		<!-- <div class="checkbox mb-3">
	      <label>
	        <input type="checkbox" value="remember-me"> Remember me
	      </label>
	    </div> -->
	    <button class="w-100 btn btn-lg btn-primary" type="submit">Sign Up</button>
	</form>
    
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
    -->
  </body>
</html>