<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/common :: head('userDetail')">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

	<link href="starter-template.css" th:href="@{/starter-template.css}" rel="stylesheet">
	
    <title>회원 상세 정보</title>
  </head>
<body>

	<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top" th:replace="fragments/common :: menu('userDetail')">
	  
	</nav>
	
	
	<div class="container" sec:authorize="isAuthenticated()">
		<h2>회원 정보</h2>
		<form action="#" th:action="@{/user/userModify}" method="post">
			<div class="mb-3 row">
				<label for="username" class="col-sm-2 col-form-label">이름 : </label>
				<div class="col-sm-10">
				<input type="text" id="username" name="username" th:value="${user.username}" readonly class="form-control-plaintext"required autofocus>
					<div class="invalid-feedback">
						이름을 입력해주시기 바랍니다.
					</div>
				</div>
			</div>
			<div class="mb-3 row">
				<label for="nickname" class="col-sm-2 col-form-label">별명 : </label>
				<div class="col-sm-10">
				<input type="text" id="nickname" name="nickname" th:value="${user.nickname}" readonly class="form-control-plaintext" required >
					<div class="invalid-feedback">
						별명을 입력해주시기 바랍니다.
					</div>
				</div>
			</div>
			<div class="mb-3 row">
				<label for="email" class="col-sm-2 col-form-label">이메일 : </label>
				<div class="col-sm-10">
				<input type="email" id="email" name="email" th:value="${user.email}"
					readonly class="form-control-plaintext" aria-describedby="validationServer05Feedback" required>
					<div id="validationServer05Feedback" class="invalid-feedback">
						이메일은 중복될 수 없습니다.
					</div>
				</div>
			</div>
				<!-- <label for="password" class="visually-hidden">비밀번호</label>
			    <input type="password" id="password" name="password" th:text="${user.email}" class="form-control" placeholder="비밀번호" readonly required>
			    	<div class="invalid-feedback">
						비밀번호를 입력해주시기 바랍니다.
					</div> -->
			<div class="mb-3 row">
			    <label for="phonenumber" class="col-sm-2 col-form-label">전화번호 : </label>
			    <div class="col-sm-10">
			    <input type="phonenumber" id="phonenumber" name="phonenumber" th:value="${user.phonenumber}" readonly class="form-control-plaintext" required>
			    	<div class="invalid-feedback">
						전화번호를 입력해주시기 바랍니다.
					</div>
				</div>
			</div>
			
		</form>
	    
		<div class="text-right">
			<!-- <a type="button" class="btn btn-primary" th:href="@{/user/userlist}">이전</a> -->
			<!-- <button type="submit" class="btn btn-primary">수정</button> -->
		</div>
    </div>
    
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
    -->
  </body>
</html>