<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="head(title)">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

	<link href="starter-template.css" th:href="@{/css/starter-template.css}" rel="stylesheet">
	
    <title th:text="${title}">회원 관리</title>
  </head>
  <body>
  
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top" th:fragment="menu(menu)">
	  <div class="container-fluid">
	    <a class="navbar-brand" href="#">회원 관리</a>
	    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
	      <span class="navbar-toggler-icon"></span>
	    </button>
	
	    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
	      <ul class="navbar-nav me-auto mb-2 mb-md-0">
	        <li class="nav-item" th:classappend="${menu} == 'home' ? 'active'">
	          <a class="nav-link" href="#" th:href="@{/}">Home<span class="sr-only" th:if="${menu} == 'home'"></span></a>
	        </li>
	        <li class="nav-item" th:classappend="${menu} == 'userlist' ? 'active'">
	          <a class="nav-link" href="#" th:href="@{/user/userlist}">회원 목록<span class="sr-only" th:if="${menu} == 'userlist'"></span></a>
	        </li>
	       	<li class="nav-item" th:classappend="${menu} == 'userDetail' ? 'active'">
	          <a class="nav-link" href="#" th:href="@{/user/userDetail/(email=${session.email})}">회원 정보<span class="sr-only" th:if="${menu} == 'userDetail'"></span></a>
	        </li>
	        <li class="nav-item" th:classappend="${menu} == 'orderlist' ? 'active'">
	          <a class="nav-link" href="#" th:href="@{/order/orderlist/(email=${session.email})}">회원 주문 목록<span class="sr-only" th:if="${menu} == 'orderlist'"></span></a>
	        </li>
	      </ul>
	      
	      <a class="btn btn-secondary btn-sm mx-2" th:href="@{/user/login}" 
	      sec:authorize="!isAuthenticated()">Login</a>
	      <a class="btn btn-secondary btn-sm mx-2" th:href="@{/user/register}" 
	      sec:authorize="!isAuthenticated()">Sign Up</a>
	      	      	      
	      <form class="d-flex" sec:authorize="isAuthenticated()" th:action="@{/logout}" method="POST">
		      <span class="text-white mx-2" sec:authentication="name">사용자</span>
		      <!-- <span class="text-white mx-2" sec:authentication="principal.authorities">권한</span> -->
	        <button class="btn btn-secondary btn-sm" type="submit">Logout</button>
	      </form>
	    </div>
	  </div>
	</nav>
  
  <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
    -->
  </body>
  
</html>